<div
    *ngIf="isCartVisible"
    class="fixed top-0 right-0 h-full w-100 bg-main-50 shadow-lg transition-transform duration-300 ease-in-out transform translate-x-0 flex flex-col"
>
    <div class="flex justify-between p-2 shadow-lg">
        <h2 class="font-bold text-main text-[2rem]">Your Cart</h2>
        <button (click)="closeCart()" class="hover:cursor-pointer">
            <img class="w-8 h-8" src="icons/exit.svg" alt="Close" />
        </button>
    </div>

    <div class="h-[700px] overflow-y-auto flex flex-col py-4 px-2 gap-6">
        <div
            *ngFor="let item of cartItems; let i = index"
            class="flex gap-2 items-center h-[100px]"
        >
            <img
                class="rounded-[10px] w-[111px] h-[114px]"
                [src]="item.image"
                alt="{{ item.name }}"
            />
            <div class="bg-main rounded-[10px] w-full flex flex-col gap-1 p-2">
                <div class="flex justify-between">
                    <p class="font-bold text-white">{{ item.name }}</p>
                    <img
                        src="icons/delete-item.svg"
                        alt="Delete"
                        (click)="removeItem(i)"
                        class="cursor-pointer"
                    />
                </div>
                <div class="flex gap-2">
                    <span class="text-white">${{ item.price.toFixed(2) }}</span>
                    <span class="text-[#A8A8A8] line-through">${{ item.oldPrice.toFixed(2) }}</span>
                </div>

                <div class="flex items-center justify-center mt-3">
                    <div class="flex bg-main-50">
                        <button class="p-2 bg-main-50" (click)="decreaseQuantity(item)">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#6B3A27"
                                stroke-width="3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                        <span
                            class="flex items-center justify-center bg-main h-[30px] w-[30px] border-t-3 border-main-50 text-main-50"
                        >
                            {{ item.quantity }}
                        </span>
                        <button class="p-2 bg-main-50" (click)="increaseQuantity(item)">
                            <svg
                                width="16"
                                height="16"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#6B3A27"
                                stroke-width="3"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            >
                                <line x1="12" y1="5" x2="12" y2="19"></line>
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col mt-4 px-2">
        <div class="flex justify-between">
            <h2 class="text-main text-[24px] font-semibold">Total Price</h2>
            <span class="text-[20px] text-[#7B7B7B]">${{ getTotalPrice() }}</span>
        </div>
        <button class="mt-2 bg-main text-white py-2 px-4 rounded-lg text-center">Checkout</button>
        <button
            class="w-full rounded-[8px] px-10 py-[8px] mt-2 text-main font-bold border border-main mb-3"
        >
            Clear All
        </button>
    </div>
</div>
