<section class="bg-main flex-col justify-center mt-[-5px] pt-15">
    <footer class="bg-main-50 py-10 w-full rounded-t-[100px]">
        <div class="w-full px-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mb-10">
            <div>
                <div class="ml-15 sm:ml-10 md:ml-16 lg:ml-20 flex gap-4 mb-11">
                    <img src="fotter_logo.svg" alt="" />
                    <h2 class="text-3xl font-bold text-main">Craftopia</h2>
                </div>
                <p class="text-[16px] text-main text-center font-semibold mb-13">
                    Thank you for being part of our journey. Explore our collection and find
                    something truly special, just for you.
                </p>

                <div class="flex space-x-4 mt-10">
                    <a
                        href="#"
                        class="flex justify-center items-center size-11 text-center bg-main text-white p-3 rounded-md text-[15px] transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:text-main hover:bg-main-50 hover:border hover:border-main"
                    >
                        <!-- <i class="fa-brands fa-facebook"></i> -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <g
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="4"
                            >
                                <path
                                    stroke-dasharray="24"
                                    stroke-dashoffset="24"
                                    d="M17 4l-2 0c-2.5 0 -4 1.5 -4 4v12"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        dur="0.4s"
                                        values="24;0"
                                    />
                                </path>
                                <path stroke-dasharray="8" stroke-dashoffset="8" d="M8 12h7">
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.5s"
                                        dur="0.2s"
                                        values="8;0"
                                    />
                                </path>
                            </g>
                        </svg>
                    </a>
                    <a
                        href="#"
                        class="flex justify-center items-center size-11 text-center bg-main text-white p-3 rounded-md text-[15px] transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:text-main hover:bg-main-50 hover:border hover:border-main"
                    >
                        <!-- <i class="fa-brands fa-instagram"></i> -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <circle cx="17" cy="7" r="1.5" fill="currentColor" fill-opacity="0">
                                <animate
                                    fill="freeze"
                                    attributeName="fill-opacity"
                                    begin="1.3s"
                                    dur="0.15s"
                                    values="0;1"
                                />
                            </circle>
                            <g
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                            >
                                <path
                                    stroke-dasharray="72"
                                    stroke-dashoffset="72"
                                    d="M16 3c2.76 0 5 2.24 5 5v8c0 2.76 -2.24 5 -5 5h-8c-2.76 0 -5 -2.24 -5 -5v-8c0 -2.76 2.24 -5 5 -5h4Z"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        dur="0.6s"
                                        values="72;0"
                                    />
                                </path>
                                <path
                                    stroke-dasharray="28"
                                    stroke-dashoffset="28"
                                    d="M12 8c2.21 0 4 1.79 4 4c0 2.21 -1.79 4 -4 4c-2.21 0 -4 -1.79 -4 -4c0 -2.21 1.79 -4 4 -4"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.7s"
                                        dur="0.6s"
                                        values="28;0"
                                    />
                                </path>
                            </g>
                        </svg>
                    </a>

                    <a
                        href="#"
                        class="flex justify-center items-center size-11 text-center bg-main text-white p-3 rounded-md text-[15px] transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:text-main hover:bg-main-50 hover:border hover:border-main"
                    >
                        <!-- <i class="fa-brands fa-x-twitter"></i> -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <g fill="currentColor">
                                <path d="M1 2h2.5L3.5 2h-2.5zM5.5 2h2.5L7.2 2h-2.5z">
                                    <animate
                                        fill="freeze"
                                        attributeName="d"
                                        dur="0.4s"
                                        values="M1 2h2.5L3.5 2h-2.5zM5.5 2h2.5L7.2 2h-2.5z;M1 2h2.5L18.5 22h-2.5zM5.5 2h2.5L23 22h-2.5z"
                                    />
                                </path>
                                <path d="M3 2h5v0h-5zM16 22h5v0h-5z">
                                    <animate
                                        fill="freeze"
                                        attributeName="d"
                                        begin="0.4s"
                                        dur="0.4s"
                                        values="M3 2h5v0h-5zM16 22h5v0h-5z;M3 2h5v2h-5zM16 22h5v-2h-5z"
                                    />
                                </path>
                                <path d="M18.5 2h3.5L22 2h-3.5z">
                                    <animate
                                        fill="freeze"
                                        attributeName="d"
                                        begin="0.5s"
                                        dur="0.4s"
                                        values="M18.5 2h3.5L22 2h-3.5z;M18.5 2h3.5L5 22h-3.5z"
                                    />
                                </path>
                            </g>
                        </svg>
                    </a>
                    <a
                        href="#"
                        class="flex justify-center items-center size-11 text-center bg-main text-white p-3 rounded-md text-[15px] transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:text-main hover:bg-main-50 hover:border hover:border-main"
                    >
                        <!-- <i class="fa-brands fa-github"></i> -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <g
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                            >
                                <path
                                    stroke-dasharray="32"
                                    stroke-dashoffset="32"
                                    d="M12 4c1.67 0 2.61 0.4 3 0.5c0.53 -0.43 1.94 -1.5 3.5 -1.5c0.34 1 0.29 2.22 0 3c0.75 1 1 2 1 3.5c0 2.19 -0.48 3.58 -1.5 4.5c-1.02 0.92 -2.11 1.37 -3.5 1.5c0.65 0.54 0.5 1.87 0.5 2.5c0 0.73 0 3 0 3M12 4c-1.67 0 -2.61 0.4 -3 0.5c-0.53 -0.43 -1.94 -1.5 -3.5 -1.5c-0.34 1 -0.29 2.22 0 3c-0.75 1 -1 2 -1 3.5c0 2.19 0.48 3.58 1.5 4.5c1.02 0.92 2.11 1.37 3.5 1.5c-0.65 0.54 -0.5 1.87 -0.5 2.5c0 0.73 0 3 0 3"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        dur="0.7s"
                                        values="32;0"
                                    />
                                </path>
                                <path
                                    stroke-dasharray="10"
                                    stroke-dashoffset="10"
                                    d="M9 19c-1.41 0 -2.84 -0.56 -3.69 -1.19c-0.84 -0.63 -1.09 -1.66 -2.31 -2.31"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.8s"
                                        dur="0.2s"
                                        values="10;0"
                                    />
                                </path>
                            </g>
                        </svg>
                    </a>

                    <a
                        href="#"
                        class="flex justify-center items-center size-11 text-center bg-main text-white p-3 rounded-md text-[15px] transition-all duration-300 ease-in-out transform hover:-translate-y-1 hover:text-main hover:bg-main-50 hover:border hover:border-main"
                    >
                        <!-- <i class="fa-brands fa-linkedin"></i> -->
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="24"
                            height="24"
                            viewBox="0 0 24 24"
                        >
                            <circle cx="4" cy="4" r="2" fill="currentColor" fill-opacity="0">
                                <animate
                                    fill="freeze"
                                    attributeName="fill-opacity"
                                    dur="0.15s"
                                    values="0;1"
                                />
                            </circle>
                            <g
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="4"
                            >
                                <path stroke-dasharray="12" stroke-dashoffset="12" d="M4 10v10">
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.15s"
                                        dur="0.2s"
                                        values="12;0"
                                    />
                                </path>
                                <path stroke-dasharray="12" stroke-dashoffset="12" d="M10 10v10">
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.45s"
                                        dur="0.2s"
                                        values="12;0"
                                    />
                                </path>
                                <path
                                    stroke-dasharray="24"
                                    stroke-dashoffset="24"
                                    d="M10 15c0 -2.76 2.24 -5 5 -5c2.76 0 5 2.24 5 5v5"
                                >
                                    <animate
                                        fill="freeze"
                                        attributeName="stroke-dashoffset"
                                        begin="0.65s"
                                        dur="0.2s"
                                        values="24;0"
                                    />
                                </path>
                            </g>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="border-b-2 sm:border-b-0 sm:border-l-2 border-main pl-6 pb-4">
                <h2 class="text-3xl font-bold text-main mb-3">Quick Links</h2>
                <ul class="space-y-2">
                    <li>
                        <a
                            routerLink="/"
                            class="text-[#7B7B7B] text-[16px] hover:text-main hover:font-semibold hover:transition-all duration-150 ease-in-out transform"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/about-us"
                            class="text-[#7B7B7B] text-[16px] hover:text-main hover:font-semibold hover:transition-all duration-150 ease-in-out transform"
                            >About Us</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/"
                            class="text-[#7B7B7B] text-[16px] hover:text-main hover:font-semibold hover:transition-all duration-150 ease-in-out transform"
                            >Services</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/contact-us"
                            class="text-[#7B7B7B] text-[16px] hover:text-main hover:font-semibold hover:transition-all duration-150 ease-in-out transform"
                            >Contact Us</a
                        >
                    </li>
                </ul>
            </div>

            <div class="border-b-2 sm:border-b-0 sm:border-l-2 border-main pl-6 pb-4">
                <h2 class="text-3xl font-semibold text-main mb-3">Contact Us</h2>
                <ul class="space-y-3">
                    <li class="flex items-center gap-3">
                        <img src="./icons/location.svg" alt="" />
                        <p class="text-[16px] text-[#7B7B7B]">4st, Ismailia, Egypt.</p>
                    </li>

                    <li class="flex items-center gap-3">
                        <img src="./icons/mobile.svg" alt="" />
                        <p class="text-[16px] text-[#7B7B7B]">(+00) 123-456-789</p>
                    </li>
                    <li class="flex items-center gap-3 mb-6 sm:mb-0 md:mt-0 lg:mt-0">
                        <img src="./icons/email.svg" alt="" />
                        <p class="text-[16px] text-[#7B7B7B]">info&#64;example.com</p>
                    </li>
                </ul>
            </div>

            <div class="border-b-2 sm:border-b-0 sm:border-l-2 border-main pl-6 pb-4">
                <h2 class="text-3xl font-semibold text-main mb-3">Our Location</h2>
                <div
                    class="w-full bg-main-50 rounded-[20px] border-2 border-main mb-6 sm:mb-0 md:mt-0 lg:mt-0 overflow-hidden"
                >
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d32875.29627323561!2d32.25514604582718!3d30.600163224052533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14f8596651b1ab93%3A0xda4ae4c3d1401463!2sCrafts!5e1!3m2!1sen!2seg!4v1741389554718!5m2!1sen!2seg"
                        width="100%"
                        height="100%"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
                </div>
            </div>
        </div>
    </footer>
    <div class="text-center text-[20px] text-[#C8C8C8]">
        <p>&copy; 2024 Craftopia. All Rights Reserved</p>
    </div>
</section>
