<div class="flex justify-center mt-10 ">
    <div class="w-6 h-6 bg-main rounded-4xl ml-2"></div>
    <div class="w-40 sm:w-50 md:w-60 lg:w-70 xl:w-80 2xl:w-90 h-0.75 bg-gray-200 my-3"></div>
    <div class="w-6 h-6 bg-main rounded-4xl"></div>
    <div class="w-36 sm:w-50 md:w-60 lg:w-70 xl:w-80 2xl:w-90 h-0.75 bg-gray-200 my-3"></div>
    <div class="w-6 h-6 bg-white border border-main rounded-4xl flex justify-center items-center">
        <div class="w-3.5 h-3.5 bg-main rounded-4xl"></div>
      </div>
</div>
  
<div class="flex mb-4">
    <div class="text-main font-bold text-xl xl:ml-90 lg:ml-75 md:ml-52 sm:ml-24 ml-3">Order</div>
    <div class="text-main font-bold text-xl xl:ml-80 lg:ml-64 md:ml-52 sm:ml-40 ml-28">Payment</div>
    <div class="text-main font-bold text-xl xl:ml-72 lg:ml-56 md:ml-44 sm:ml-32 ml-16">Checkout</div>
</div>

<div class="flex justify-center items-center flex-col">
    <img src="CheckoutConfirmation.png" alt="" class="w-64">
    <div class="text-4xl font-bold text-main mt-5">
        Thanks for Shopping
    </div>
    <div class="w-[400px] sm:w-[550px] md:w-[700px] lg:w-[790px] xl:w-[790px] text-center my-10 text-lg sm:text-xl md:text-2xl lg:text-2xl xl:text-2xl text-gray-700">
        Your payment was successful, and we are preparing your order. You will receive updates soon. If you need any help, feel free to contact us. We appreciate your trust!
    </div>
</div>