<section class="bg-main-50 w-[100%] py-20">
    <div class="bg-main-50 container mx-auto px-4">
        <div class="grid grid-cols-1 gap-6 md:grid-cols-4">
           
            <div class="flex flex-col md:flex-row items-center gap-4 bg-main p-4 rounded-lg shadow-md">
                <img src="return-request.png" alt="Image 1" class="w-16 h-16 object-cover rounded">
                <div>
                    <h1 class="text-xl font-bold text-main-50">30 Days Return</h1>
                    <p class="text-main-50 text-left">Simply return it within 30 days for an exchange</p>
                </div>
            </div>
            
            <div class="flex flex-col md:flex-row items-center gap-4 bg-main p-4 rounded-lg shadow-md">
                <img src="truck-return.png" alt="Image 2" class="w-16 h-16 object-cover rounded">
                <div>
                    <h1 class="text-xl font-bold text-main-50">Free shipping</h1>
                    <p class="text-main-50 text-left">Free shipping on all US order or order above $200</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4 bg-main p-4 rounded-lg shadow-md">
                <img src="customer-service-01.png" alt="Image 3" class="w-16 h-16 object-cover rounded">
                <div>
                    <h1 class="text-xl font-bold text-main-50">Support 24/7</h1>
                    <p class="text-main-50 text-left">Our support team is available 24/7 to assist you with any inquiries or issues</p>
                </div>
            </div>
            <div class="flex flex-col md:flex-row items-center gap-4 bg-main p-4 rounded-lg shadow-md">
                <img src="credit-card.png" alt="Image 4" class="w-16 h-16 object-cover rounded">
                <div>
                    <!-- <h1 class="text-xl font-bold text-main-50 text-left">Payment Secure</h1>
                    <p class="text-main-50 text-left">We ensure secure payment with PEV</p> -->

                    <h1 class="text-xl font-bold text-main-50">Payment Secure</h1>
                    <p class="text-main-50 text-left">We ensure a secure payment process with PEV for a safe shopping experience.</p>
               
                </div>
            </div>
        </div>
    </div>
</section>
