<div class="bg-main-50 mt-10 mx-4 md:mx-10 h-auto md:h-[800px] flex justify-center items-center">
    <div
        class="flex flex-col md:flex-row rounded-[20px] w-full max-w-[1400px] h-auto md:h-[650px] shadow-lg"
    >
        <img
            class="w-full h-[350px] sm:h-1/4 md:h-1/4 md:w-1/2 lg:h-full rounded-tl-[20px] rounded-tr-[20px] lg:rounded-tr-none lg:rounded-bl-[20px] object-cover"
            src="Product-details.png"
            alt=""
        />

        <div
            class="bg-main w-full md:w-1/2 border-0 rounded-tr-none rounded-bl-[20px] rounded-br-[20px] lg:rounded-tr-[20px] lg:rounded-br-[20px] lg:rounded-bl-none p-4 md:p-10 flex flex-col gap-3"
        >
            <div class="flex justify-between items-center">
                <h2 class="text-main-50 font-semibold text-2xl md:text-4xl">Generic</h2>
                <img class="w-6 md:w-8" src="icons/exit-icon.svg" alt="" />
            </div>

            <div class="flex gap-3 text-center md:text-left">
                <h1 class="text-main-50 font-semibold text-xl md:text-3xl">Price:</h1>
                <span class="text-[#FDF6F3] text-lg md:text-2xl mt-1">$350.00</span>
                <span class="text-[#B8B2B2] text-lg md:text-2xl line-through mt-1">$500.00</span>
            </div>

            <div class="flex gap-3 text-center md:text-left">
                <h1 class="text-main-50 font-semibold text-xl md:text-3xl">Material:</h1>
                <span class="text-[#FDF6F3] text-lg md:text-2xl mt-1">Handwoven Raafia</span>
            </div>

            <div class="flex gap-3 text-center md:text-left">
                <h1 class="text-main-50 font-semibold text-xl md:text-3xl">Item Width:</h1>
                <span class="text-[#FDF6F3] text-lg md:text-2xl mt-1">35 cm</span>
            </div>
            <div class="flex gap-3 text-center md:text-left">
                <h1 class="text-main-50 font-semibold text-xl md:text-3xl">Item Height:</h1>
                <span class="text-[#FDF6F3] text-lg md:text-2xl mt-1">30 cm</span>
            </div>

            <div class="text-center md:text-left">
                <p class="text-[#FDF6F3] text-lg md:text-2xl mt-1 text-left">
                    <span class="text-main-50 font-semibold text-xl md:text-3xl">
                        Description:
                    </span>
                    The Morning Glory Raafia Handbag is a beautifully handwoven bag made from
                    natural raafia fibers. Designed for casual outings, this eco-friendly tote
                    features a spacious interior, sturdy handles, and a lightweight design, making
                    it perfect for everyday use.
                </p>
            </div>

            <div class="flex items-center justify-center mt-3">
                <div class="flex bg-main-50 shadow-md">
                    <button class="p-2">
                        <svg
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#6B3A27"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </button>
                    <span
                        class="flex flex items-center justify-center bg-main h-[41px] w-[40px] border-b-[4px] border-main-50 text-main-50 text-3xl mt-1"
                        >1</span
                    >
                    <button class="p-2">
                        <svg
                            width="25"
                            height="25"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#6B3A27"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                        >
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </button>
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4 justify-center items-center mt-6">
                <button
                    class="w-full md:w-[200px] h-[50px] bg-main-50 text-main font-semibold text-lg rounded-[10px] shadow-md"
                >
                    Add to Cart
                </button>
                <button
                    class="w-full md:w-[200px] h-[50px] bg-main-50 text-main font-semibold text-lg rounded-[10px] shadow-md"
                >
                    Add to Wishlist
                </button>
            </div>
        </div>
    </div>
</div>
