<p class="text-main text-3xl font-serif font-bold flex justify-center items-center mb-9">About Us</p>
<div class=" flex flex-col justify-center items-center">
    <p class="w-[350px] xl:w-[1000px] text-center mt-4 lg:w-[850px] md:w-[700px] sm:w-[550px] text-main text-lg font-sans flex-wrap">At Craftopia, we believe that every handmade piece tells a story. Our passion for craftsmanship drives us to create unique, high-quality products made with love and care. Whether it's handwoven textiles, artisanal jewelry, or handcrafted home decor, each item is carefully designed to bring warmth and authenticity into your life.</p>
    <img src="AboutUsImage.png" class="mt-8 mb-12" alt="">
</div>
