<div class="bg-main flex flex-col items-center gap-3">
    <h2 class="text-main-50 font-bold text-3xl mt-10 mb-7">Our Reviews</h2>

    <div class="flex flex-col gap-4 justify-center items-center">
        <div
            class="bg-main-50 w-[90%] md:w-[1236px] p-5 rounded-[30px] flex flex-col md:flex-row justify-center items-center gap-4"
        >
            <div class="flex gap-3">
                <img
                    class="border-3 border-main rounded-full w-20 h-20 shrink-0"
                    src="Frame 72.png"
                    alt=""
                />

                <div class="flex flex-col">
                    <h2 class="text-main font-bold text-2xl mt-4">Mariem Taha</h2>
                    <div class="flex">
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                    </div>
                </div>
            </div>

            <div
                class="w-[90%] md:w-[940px] h-auto text-xl text-main border-main border-t-3 md:border-l-3 md:border-t-0 flex items-center p-4"
            >
                <p class="text-2xl">
                    I was hesitant at first since I had never bought handmade products before, but
                    when I received my order, I was blown away by the quality! Totally worth it.
                </p>
            </div>
        </div>
        <div
            class="bg-main-50 w-[90%] md:w-[1236px] h-auto p-5 rounded-[30px] flex flex-col md:flex-row justify-center items-center gap-4"
        >
            <div class="flex gap-3">
                <img
                    class="border-3 border-main rounded-full w-20 h-20 shrink-0"
                    src="Frame 72.png"
                    alt=""
                />

                <div class="flex flex-col">
                    <h2 class="text-main font-bold text-2xl mt-4">Mariem Taha</h2>
                    <div class="flex">
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                    </div>
                </div>
            </div>

            <div
                class="w-[90%] md:w-[940px] h-auto text-xl text-main border-main border-t-3 md:border-l-3 md:border-t-0 flex items-center p-4"
            >
                <p class="text-2xl">
                    I was hesitant at first since I had never bought handmade products before, but
                    when I received my order, I was blown away by the quality! Totally worth it.
                </p>
            </div>
        </div>
        <div
            class="bg-main-50 w-[90%] md:w-[1236px] h-auto p-5 rounded-[30px] flex flex-col md:flex-row justify-center items-center gap-4"
        >
            <div class="flex gap-3">
                <img
                    class="border-3 border-main rounded-full w-20 h-20 shrink-0"
                    src="Frame 72.png"
                    alt=""
                />

                <div class="flex flex-col">
                    <h2 class="text-main font-bold text-2xl mt-4">Mariem Taha</h2>
                    <div class="flex">
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-yellow-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                        <svg
                            class="w-6 h-6 text-gray-400"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 24 24"
                            fill="currentColor"
                        >
                            <path
                                d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"
                            />
                        </svg>
                    </div>
                </div>
            </div>

            <div
                class="w-[90%] md:w-[940px] h-auto text-xl text-main border-main border-t-3 md:border-l-3 md:border-t-0 flex items-center p-4"
            >
                <p class="text-2xl">
                    I was hesitant at first since I had never bought handmade products before, but
                    when I received my order, I was blown away by the quality! Totally worth it.
                </p>
            </div>
        </div>
    </div>

    <button class="bg-main-50 text-main px-4 py-2 w-[200px] rounded-[8px] text-[20px] mt-3">
        View All
    </button>

    <div class="w-[90%] md:w-[1236px] mt-8">
        <h2 class="text-main-50 font-semibold text-3xl">Add Reviews</h2>
        <textarea
            class="bg-main-50 w-full h-80 rounded-[30px] p-4 mt-8 resize-none focus:outline-none text-main text-xl placeholder:text-gray-400"
            placeholder="Add your Review here"
        ></textarea>
        <div class="flex justify-end">
            <button class="bg-main-50 text-main px-8 py-2 rounded-[8px] mt-3">Add</button>
        </div>
    </div>
</div>
