<div class="relative">
    <img src="ProductFirstSection.png" alt="" class="w-screen">
    <img src="Shadow.png" alt="" class="w-screen absolute top-[-1px]">
    <p class="absolute top-5 left-10 text-xl md:top-15 md:left-20 md:text-3xl lg:top-20 lg:left-20 lg:text-4xl xl:top-35 xl:left-20 xl:text-6xl 2xl:top-40 2xl:left-30 2xl:text-8xl text-white font-bold">Our Products</p>
    <p class="absolute top-15 left-10 text-md w-80 md:top-30 md:left-20 md:text-2xl md:w-120 lg:top-40 lg:left-20 lg:text-3xl lg:w-150 xl:top-65 xl:left-20 xl:text-4xl xl:w-200 2xl:top-80 2xl:left-30 2xl:text-5xl 2xl:w-300 text-white ">Discover our carefully curated collection of products designed to meet your needs</p>
</div>