<section class="bg-main h-[1024px] flex justify-center items-center p-50 relative min-[375px]:h-[1300px] sm:h-[1500px] lg:h-[900px]">

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 md:gap-4 sm:mt-[10px] md:mt-0 mb-200 absolute top-[50px] md:p-6 ">

        <div class="flex flex-col gap-4 items-center relative">
            <div class="w-full flex justify-center">
                <img class="w-[80%] md:w-[465px] sm:mt-0 md:mt-0 lg:mt-0" src="image 2.png" alt="">

            </div>
            <div class="flex justify-center absolute top-[70%] md:top-[400px] left-[20%] md:left-35">
                <img class="h-[265px] w-[60%] md:w-[303.83px] md:h-[380px] md:ml-30 ml-29 lg:mt-[-70px] lg:ml-[60px]" src="image 6.png" alt="">
            </div>
        </div>

        <div class="flex flex-col gap-6 items-center text-center lg:mt-[-100px]">
            <div class="w-full flex justify-center mt-10 min-[375px]:mt-[180px] md:mt-[90px]">

                <!-- <img class="w-[80%] md:w-auto mt-10 min-[375px]:mt-20 md:mt-[90px] mid:top-100px " src="Group 20.png" alt=""> -->
                <img class="w-[50%] md:w-auto mt-20 min-[375px]:mt-[-10px] min-[667px]:mt-[100px] md:mt-[100px]" src="Group 20.png" alt="">

            </div>
            <div class="w-full flex justify-center">
                <h6 class="text-2xl md:text-3xl font-bold text-main-50">Desiring Craftopia Beauty</h6>
            </div>
            <button class="text-lg bg-main-100 text-main font-semibold py-2 px-6 rounded-lg hover:shadow-lg hover:shadow-main-500 transition duration-300">
                Shop Now
            </button>
        </div>

    
        <div class="flex flex-col gap-4 items-center relative">
            <div class="w-full flex justify-center">
                <img class="w-[80%] md:w-[469px]" src="image 4.png" alt="">
            </div>
            <div class="w-full flex justify-center absolute top-[70%] md:top-[500px] right-[20%] md:right-50">
                <img class="w-[60%] md:w-auto ml-3 lg:mt-[-110px] lg:ml-[90px]" src="image 5.png" alt="">
            </div>
        </div>
    </div>
</section>

