/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

/* Set the base font size to 10px (1rem = 10px) */
/* html {
    font-size: 62.5%;
} */

@theme {
    /* Main Colors */
    --color-main: #8e4026;
    --color-main-50: #fdf6f3;
    --color-main-100: #fcede8;
    --color-main-200: #f9dacf;
    --color-main-300: #f4bfad;
    --color-main-400: #ec997d;
    --color-main-500: #e07653;
    --color-main-600: #cc5c36;
    --color-main-700: #ab4a2a;
    --color-main-800: #8e4026;
    --color-main-900: #763a26;
    --color-main-950: #401b0f;

    /* Gray Colors */
    --color-gray-50: #f7f7f7;
    --color-gray-100: #ededed;
    --color-gray-200: #dfdfdf;
    --color-gray-300: #c8c8c8;
    --color-gray-400: #adadad;
    --color-gray-500: #9e9e9e;
    --color-gray-600: #888888;
    --color-gray-700: #7b7b7b;
    --color-gray-800: #676767;
    --color-gray-900: #545454;
    --color-gray-950: #363636;

    /* Danger (Red) */
    --color-danger-50: #fff1f1;
    --color-danger-100: #ffe0e0;
    --color-danger-200: #ffc6c7;
    --color-danger-300: #ff9e9f;
    --color-danger-400: #ff6769;
    --color-danger-500: #fc373a;
    --color-danger-600: #ea181b;
    --color-danger-700: #c51013;
    --color-danger-800: #a31113;
    --color-danger-900: #861618;
    --color-danger-950: #490607;

    /* Warning (Orange/Yellow) */
    --color-warning-50: #fffbec;
    --color-warning-100: #fff6d4;
    --color-warning-200: #ffeaa8;
    --color-warning-300: #ffd970;
    --color-warning-400: #ffbc37;
    --color-warning-500: #ffa610;
    --color-warning-600: #f98e07;
    --color-warning-700: #c76807;
    --color-warning-800: #9e510e;
    --color-warning-900: #7f440f;
    --color-warning-950: #452105;

    /* Success (Green) */
    --color-success-50: #edfcf3;
    --color-success-100: #d3f8e1;
    --color-success-200: #aaf0c9;
    --color-success-300: #73e2ab;
    --color-success-400: #3bcc88;
    --color-success-500: #17b26f;
    --color-success-600: #0b905a;
    --color-success-700: #09734a;
    --color-success-800: #0a5b3c;
    --color-success-900: #094b33;
    --color-success-950: #042a1d;
}

* {
    font-family: 'Albert Sans', serif;
    box-sizing: border-box;
}

body,html {
    @apply bg-main-50;
    width: 100%;

}

.btn-primary {
    @apply bg-main text-white rounded-2xl h-12 text-lg font-semibold;
}

.btn-secondary {
    @apply bg-main-50 text-[#0E0E0E] rounded-2xl h-12 text-lg font-semibold border border-main flex items-center justify-center gap-2;
}
.btn-label {
    @apply absolute font-semibold text-lg left-1 top-1/2 -translate-y-1/2 text-gray-500 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-placeholder-shown:-translate-y-1/2 peer-focus:top-0 peer-focus:text-sm peer-focus:text-main bg-main-50 px-1;
}

input:not(:placeholder-shown) ~ .btn-label {
    @apply top-0 text-sm text-main;
} 

/* Trending Cards */

.trending-card-text{
    @apply text-gray-100 text-[1.1rem] font-light;
}