<div class="flex justify-center mt-10 ">
  <div class="w-6 h-6 bg-main rounded-4xl ml-2"></div>
  <div class="w-40 sm:w-50 md:w-60 lg:w-70 xl:w-80 2xl:w-90 h-0.75 bg-gray-200 my-3"></div>
  <div class="w-6 h-6 bg-white border border-main rounded-4xl flex justify-center items-center">
    <div class="w-3.5 h-3.5 bg-main rounded-4xl"></div>
  </div>
  <div class="w-36 sm:w-50 md:w-60 lg:w-70 xl:w-80 2xl:w-90 h-0.75 bg-gray-200 my-3"></div>
  <div class="w-6 h-6 bg-gray-300 rounded-4xl"></div>
</div>

<div class="flex mb-8">
  <div class="text-main font-bold text-xl xl:ml-90 lg:ml-75 md:ml-52 sm:ml-24 ml-3">Order</div>
  <div class="text-main font-bold text-xl xl:ml-80 lg:ml-64 md:ml-52 sm:ml-40 ml-28">Payment</div>
  <div class="text-gray-300 font-bold text-xl xl:ml-72 lg:ml-56 md:ml-44 sm:ml-32 ml-16">Checkout</div>
</div>

<div class="flex xl:flex-row lg:flex-row md:flex-row justify-center flex-col-reverse sm:flex-row gap-2 xl:gap-20 lg:gap-20 md:gap-14">
  <!-- left -->
  <div class="flex flex-col">
    <div class="ml-5 w-94 sm:w-72 md:w-90 lg:w-120 xl:w-150 lg:h-48 xl:h-50  border rounded-2xl border-gray-200">
      <h2 class="text-3xl font-bold mt-3 sm:mt-3 md:mt-5 lg:mt-7 xl:mt-8 ml-10 text-main">Payment Type</h2>
      <div class="ml-9 sm:ml-10 md:ml-12 lg:ml-13 mt-4 xl:ml-14">
        <label class="flex items-center gap-2">
          <input type="radio" name="payment" class="border-2 border-gray-400 rounded-full appearance-none 
          relative before:content-[''] before:bg-main-50 before:rounded-full before:absolute 
          before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 scale-100 
          checked:before:scale-75 checked:before:bg-main checked:border-2 checked:border-main
          
          w-5 h-5 sm:w-5 sm:h-5 md:w-5 md:h-5 lg:w-6 lg:h-6 xl:w-7 xl:h-7 
          before:w-3 before:h-3 sm:before:w-3 sm:before:h-3 md:before:w-3 md:before:h-3 
          lg:before:w-4 lg:before:h-4 xl:before:w-5 xl:before:h-5"  
          checked (change)="selectPayment('paypal')">
        <div class="flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
            class="w-6 h-6 sm:w-7 sm:h-7 md:w-8 md:h-8 lg:w-9 lg:h-9 xl:w-10 xl:h-10"
            viewBox="0 0 512 512">
            <g>
              <path d="M428.876 132.28a175.921 175.921 0 0 0 1.32-21.497C430.196 49.6 380.597 0 319.413 0H134.271c-11.646 0-21.589 8.41-23.521 19.894L42.53 425.369c-2.448 14.55 8.768 27.809 23.521 27.809h67.711c11.646 0 21.776-8.404 23.707-19.889l.317-1.885h.001l-9.436 56.086c-2.156 12.823 7.729 24.51 20.732 24.51h59.237c10.265 0 19.029-7.413 20.731-17.535l16.829-100.02c2.901-17.242 17.828-29.867 35.311-29.867h15.562c84.53 0 153.054-68.525 153.054-153.054 0-32.709-16.168-61.622-40.931-79.244z"
                fill="#002987"></path>
              <path d="M428.876 132.28c-10.594 86.179-84.044 152.91-173.086 152.91h-51.665c-11.661 0-21.732 7.767-24.891 18.749l-30.882 183.549C146.195 500.312 156.08 512 169.083 512h59.237c10.265 0 19.029-7.413 20.731-17.535l16.829-100.02c2.901-17.242 17.828-29.867 35.311-29.867h15.562c84.53 0 153.054-68.525 153.054-153.054 0-32.709-16.168-61.622-40.931-79.244z"
                fill="#0085CC"></path>
              <path d="M204.125 285.19h51.665c89.043 0 162.493-66.731 173.086-152.909-15.888-11.306-35.304-17.978-56.29-17.978h-134.85c-15.353 0-28.462 11.087-31.01 26.227l-27.493 163.408c3.159-10.982 13.231-18.748 24.892-18.748z"
                fill="#00186A"></path>
            </g>
          </svg>
        
          <span class="font-semibold text-blue-900 italic text-lg sm:text-xl md:text-2xl lg:text-3xl">Pay</span>
          <span class="font-semibold text-[#0085CC] italic relative -left-1 sm:-left-1.5 md:-left-2 text-lg sm:text-xl md:text-2xl lg:text-3xl">Pal</span>
        </div>
        

      </label>
      <label class="flex items-center gap-2">
        
         <input type="radio" name="payment" class="border-2 border-gray-400 rounded-full appearance-none 
         relative before:content-[''] before:bg-main-50 before:rounded-full before:absolute 
         before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 scale-100 
         checked:before:scale-75 checked:before:bg-main checked:border-2 checked:border-main
         
         w-5 h-5 sm:w-5 sm:h-5 md:w-5 md:h-5 lg:w-6 lg:h-6 xl:w-7 xl:h-7 mb-6 
         before:w-3 before:h-3 sm:before:w-3 sm:before:h-3 md:before:w-3 md:before:h-3 
         lg:before:w-4 lg:before:h-4 xl:before:w-5 xl:before:h-5"  
         (change)="selectPayment('visa')">
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" 
         class="w-8 h-8 sm:w-10 sm:h-10 md:w-12 md:h-12 lg:w-14 lg:h-14 xl:w-16 xl:h-16 mb-6">
      <g>
        <path fill="#005BAC" fill-rule="evenodd" d="m211.328 184.445-23.465 144.208h37.542l23.468-144.208zm-55.052 0-35.794 99.185-4.234-21.358.003.007-.933-4.787c-4.332-9.336-14.365-27.08-33.31-42.223a150.19 150.19 0 0 0-16.705-11.559l32.531 124.943h39.116l59.733-144.208zm146.521 40.035c0-16.304 36.563-14.209 52.629-5.356l5.357-30.972s-16.534-6.288-33.768-6.288c-18.632 0-62.875 8.148-62.875 47.739 0 37.26 51.928 37.723 51.928 57.285s-46.574 16.066-61.944 3.726l-5.586 32.373s16.763 8.148 42.382 8.148c25.616 0 64.272-13.271 64.272-49.37 0-37.493-52.395-40.985-52.395-57.285zm153.2-40.035h-30.185c-13.938 0-17.332 10.747-17.332 10.747l-55.988 133.461h39.131l7.828-21.419h47.728l4.403 21.419h34.472zm-45.727 93.196 19.728-53.966 11.098 53.966z" clip-rule="evenodd"></path>
        <path fill="#F6AC1D" fill-rule="evenodd" d="M104.132 198.022s-1.554-13.015-18.144-13.015H25.715l-.706 2.446s28.972 5.906 56.767 28.033c26.562 21.148 35.227 47.51 35.227 47.51z" clip-rule="evenodd"></path>
      </g>
    </svg>
      </label>
    </div>
</div>
  <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
    <div class="ml-5 w-94 h-130 sm:w-72 md:w-90 lg:w-120 xl:w-150 sm:h-130 md:h-130 lg:h-115 xl:h-115  border rounded-2xl border-gray-200 mt-5 mb-10 p-6">
      <h2 class="text-3xl font-bold text-main mt-8 ml-5 mb-8">Card Details</h2>  
      <div class="flex flex-col">
        <input formControlName="cardholderName" class=" lg:w-[430px] xl:w-[550px] p-2 border border-main rounded-xl" placeholder="Cardholder Name">
        <div class="text-red-500 text-sm h-6" [ngClass]="{'invisible': cardholderName?.valid || !cardholderName?.touched}">Cardholder Name is required</div>
      
        <input formControlName="cardNumber" class="lg:w-[430px] xl:w-[550px] p-2 border border-main rounded-xl" placeholder="Card Number">
        <div class="text-red-500 text-sm h-6 text-left" [ngClass]="{'invisible': cardNumber?.valid || !cardNumber?.touched}">Card Number must be 16 digits</div>
      
        <div class="flex gap-2 flex-wrap sm:flex-wrap ">
          <div class="flex flex-col">
            <input formControlName="expirationDate" class="w-[325px] sm:w-[240px] md:w-[310px] lg:w-[210px] xl:w-[270px] p-2 border border-main rounded-xl" placeholder="MM/YY">
            <div class="text-red-500 text-sm h-6" [ngClass]="{'invisible': expirationDate?.valid || !expirationDate?.touched}">Expiration Date format MM/YY</div>
          </div>
          <div class="flex flex-col">
            <input formControlName="cvv" class="w-[325px] sm:w-[240px] md:w-[310px] lg:w-[210px] xl:w-[270px] p-2 border border-main rounded-xl" placeholder="CVV">
            <div class="text-red-500 text-sm h-5" [ngClass]="{'invisible': cvv?.valid || !cvv?.touched}">CVV must be 3-4 digits</div>
          </div>
        </div>
      
        <button type="submit" [disabled]="paymentForm.invalid" class="lg:w-[430px] xl:w-[550px] mt-2 bg-main text-white p-2 rounded-xl">Confirm</button>
      
        <button type="button" class="lg:w-[430px] xl:w-[550px] mt-2 text-main p-2 border rounded-xl" (click)="resetForm()">Cancel</button>       
      </div>
    </div>
  </form>
</div>

<!-- right -->
  <div class="flex flex-col">
    <div class="ml-4 w-96 h-130 sm:w-84 md:w-100 lg:w-100 xl:w-100 border rounded-2xl border-gray-200 mb-5 ">
      <div class="h-full w-96 sm:w-84 md:w-100 lg:w-100 xl:w-100 bg-main-50 rounded-2xl shadow-lg flex flex-col">
        <div class="flex justify-between p-2 shadow-lg">
            <h2 class="font-bold text-main text-[2rem]">Your Items</h2>
        </div>
        <div class="h-130 overflow-y-auto rounded-2xl flex flex-col p-2 gap-2">
            <div *ngFor="let item of cartItems; let i = index" class="flex gap-2">
                <img class="rounded-[10px]" [src]="item.image" alt="" />
                <div class="bg-main rounded-[10px] w-full flex-col gap-1">
                    <div class="flex justify-between p-2">
                        <p class="font-bold text-white">{{ item.name }}</p>
                        <img src="icons/delete-item.svg" (click)="removeItem(i)" alt="" />
                    </div>
                    <div class="flex gap-2 p-2 mt-[-11px]">
                        <span class="text-white">${{ item.price * item.quantity }}</span>
                        <span class="text-[#A8A8A8] line-through">${{ item.originalPrice * item.quantity }}</span>
                    </div>

                    <div class="flex items-center justify-center p-2 mb-1">
                        <div class="flex bg-main-50">
                            <button class="p-2 bg-main-50" (click)="decreaseQuantity(i)">
                              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6B3A27" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </button>
                            <span class="flex items-center justify-center bg-main h-[30px] w-[30px] border-t-3 border-main-50 text-main-50">{{ item.quantity }}</span>
                            <button class="p-2 bg-main-50" (click)="increaseQuantity(i)">
                              <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="#6B3A27" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="12" y1="5" x2="12" y2="19"></line>
                                    <line x1="5" y1="12" x2="19" y2="12"></line>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
      </div>

    </div>
    <div class="ml-4 w-96 sm:w-84 xl:w-100 h-60 border rounded-2xl border-gray-200 mb-10 ">
      <div class="flex justify-between p-2 shadow-lg">
        <h2 class="font-bold text-main text-[2rem]">Summary</h2>
      </div>
      <div class="flex flex-col">
        <div class="flex justify-between mx-5 mb-4 mt-8">
          <h4 class="text-gray-600 text-lg">Subtotal</h4>
          <h4 class="text-gray-600 text-lg">${{ subtotal }}</h4>
        </div>
        <div class="flex justify-between mx-5 ">
          <h4 class="text-gray-600 text-lg">Vat</h4>
          <h4 class="text-gray-600 text-lg">${{ vat }}</h4>
        </div>
        <div class="flex justify-between mx-5 ">
          <h4 class="text-gray-600 text-lg">Shipping</h4>
          <h4 class="text-gray-600 text-lg">${{ shipping }}</h4>
        </div>
        <div class="flex justify-between mx-5 ">
          <h2 class="font-bold text-main text-xl">Total</h2>
          <h4 class="font-bold text-main text-xl">${{ total }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
